@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Poppins&display=swap');
html:root {
  --red:#e82e32;
  --white: white;
}

body{
    font-family: 'Poppins' , sans-serif;
}
/* text */

/* colors */
.bg-header{
    background-color:#2b2a2e;
  
}
span{
    color: #e82e32;
}
/* BOOTSTRAP NAVBAR CUSTOM */
.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0) !important;
    }
    
    .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(232, 46, 50, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    button:focus {
    outline: 0px;
    }




/*  HOVER  */
.col-big{
    position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width:20%;
}

.hoverfx {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border:unset 1px black;
  border-radius: 10px;
}


 .textbgbox {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px black;
  border-radius: 10px;
}

.hoverfx h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 10px;

  -webkit-transform: translateY(45px);
  -ms-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hoverfx:hover h3 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin:0px;
}

.maginbottom{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
    margin-top: -10px;
}
.hoverfx .maginbottom {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
  
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .hoverfx:hover .maginbottom {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    margin:0px;
  }

.hoverfx:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #ffffff;
}

/* footer */
.bg-footer{
    background-color: #242327;
    
}
.text-align-end{
        text-align: end;
    }
.bg-red{
    background-color:#e82e32;
    width: 40px;
    height: 40px;
    border: solid 5px #e82e32;
    border-radius: 50%;
}
/*******************BG-IMAGE**********************/
#bg-1{
  background-image: url(../media/action.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border:unset 1px black;
  border-radius: 10px;
}

#bg-2{
  background-image: url(../media/animation.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border:unset 1px black;
  border-radius: 10px;
}

#bg-3{
  background-image: url(../media/aventure.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border:unset 1px black;
  border-radius: 10px;
}

#bg-4{
  background-image: url(../media/biog.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  border:unset 1px black;
  border-radius: 10px;
}
#bg-5{
    background-image: url(../media/catastrophe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-6{
    background-image: url(../media/comedie.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-7{
    background-image: url(../media/com-dram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-8{
    background-image: url(../media/com_musical.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-9{
    background-image: url(../media/co_policier.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-10{
    background-image: url(../media/com_rom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-11{
    background-image: url(../media/court_metrage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-12{
    background-image: url(../media/dessin_animé.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-13{
    background-image: url(../media/documentaire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-14{
    background-image: url(../media/drame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-15{
    background-image: url(../media/drama_psy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-16{
    background-image: url(../media/epouvante.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-17{
    background-image: url(../media/fantastique.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-18{
    background-image: url(../media/musical.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-19{
    background-image: url(../media/guerre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-20{
    background-image: url(../media/historique.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-21{
    background-image: url(../media/horreur.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-22{
    background-image: url(../media/policier.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-23{
    background-image: url(../media/politique.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-24{
    background-image: url(../media/romnance.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-25{
    background-image: url(../media/sc_fiction.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-26{
    background-image: url(../media/serial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-27{
    background-image: url(../media/spctacle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-28{
    background-image: url(../media/telefilm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-29{
    background-image: url(../media/thriller.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-30{
    background-image: url(../media/western.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-31{
    background-image: url(../media/theatre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }
  #bg-32{
    background-image: url(../media/sport.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    border:unset 1px black;
    border-radius: 10px;
  }



  /* page 404 */
  .h-10vh{
      min-height:20vh ;
  }
 .h-70vh{
     min-height: 70vh;
 }
 .h-20vh{
    min-height:10vh ;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 2s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #e82e32;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }s
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color:#e82e32 ;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */


h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
   
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
.btn-link {
    font-weight: 400; 
    color:#e82e32;
    text-decoration: none; 

}
.btn-link:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
  }
  .btn-link:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    transform : translateY(-3px);
 }

  
  .btn:link,
  .btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:#fff;
    color:#000;
  }
  
  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform:translateY(-1px);
  }
  .btn-link:hover {
    color:white;
    text-decoration: none;
}
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }
  
  .btn-white::after {
      background: #fff;
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }