<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="La référence du 7ème Art">
  <meta name="robots" content="all">
  <meta name="keywords"
    content="PopCorn, film, movie, critique, affiche, réalisateur, cinéma, oscar, golden globes, acteurs, actrices, salle, pellicule, recherche, annuaire, action, thriller, comedie, drame, horreur, spectacle">
  <!-- Facebook -->
  <meta property="og:locale" content="fr_FR">
  <meta property="og:url" content="#">
  <meta property="og:type" content="website">
  <meta property="og:title" content="PopCorn : Votre annuaire de film">
  <meta property="og:description" content="La référence du 7ème Art">
  <meta property="og:site_name" content="Bakery">
  <meta property="og:image" content="http://quentinp364.promo-vesoul33.codeur.online/annuaire-films/./views/media/thumbnail.png">
  <meta property="og:image:width" content="380">
  <meta property="og:image:height" content="380">
  <meta property="og:image:alt" content="facebook_partage">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="PopCorn : Votre annuaire de film">
  <meta name="twitter:description" content="La référence du 7ème Art">
  <meta name="twitter:site" content="https://twitter.com/PopCornMovie">
  <meta name="twitter:image" content="http://quentinp364.promo-vesoul33.codeur.online/annuaire-films/./views/medias/thumbnail.png">
  <meta name="twitter:creator" content="PopCorn">

  <!-- Bootstrap CSS - MyCSS - Favicons -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="icon" type="image/png" sizes="32x32" href="media/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/favicon-16x16.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>PopCorn</title>
  <favicon></favicon>

</head>

<body class="bg-header">

    <!-- HEADER -->
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand m-0 text-white htext h2 font-weight-bold" href="home.html"><span class="text-red">P</span>op<span
          class="text-red">C</span>orn<img src="media/popcorn.png" width="26" height="28" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="home.html"><span
              class="text-red">A</span>ccueil</a>
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="genre.php"><span
              class="text-red">G</span>enre</a>
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="page404.php"><span
              class="text-red">D</span>ate de sortie</a>
        </div>
      </div>
    </nav>
  </header>
    <!-- fin header -->
    <div id="reponse"></div>
    <!-- section -->
<div id="reponse" class="row justify-content-left">
<div class="container-fluid">
    <div class="container">
        <div class="row">
        <form action="">
    <div class="container-fluid pt-5 pb-5 text-center ">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-white font-weight-bold mb-3">LISTE DES GENRES</h2>
          </div>
        </div>
        </div>
        <div class="row mt-4 d-flex justify-content-center ">
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="1" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/action.png" alt="Affiche Chicken Run" width="241" height="332" ></a>
            </p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="2" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/animation.png" alt="Affiche Whiplash" width="241" height="332" ></a>
            </p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="3" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/aventure.png" alt="Affiche Drive" width="241" height="332" ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="4" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/biog.png" alt="Affiche Suicide Squad" width="241" height="332" ></a>
            </p>
          </div>
        <!-- </div> -->
        <!-- <div class="row mt-4 d-flex justify-content-center"> -->
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="5" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/catastrophe.png" alt="Affiche Bienvenue Chez Les Chtis" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="6" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/comedie.png" alt="Affiche Parasite" width="241" height="332" ></a>
            </p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="7" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/com-dram.png" alt="Affiche Le Mans 66" width="241" height="332"></a>
            </p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="8" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/com_musical.png" alt="Affiche Diversion" width="241" height="332" ></a>
            </p>
          </div>
        <!-- </div> -->
        <!-- <div class="row mt-4 pb-5 d-flex justify-content-center"> -->
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="9" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/co_policier.png" alt="Affiche Shaolin Soccer" width="241" height="332" ></a>
            </p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="10" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/com_rom.png" alt="Affiche Get Out" width="241" height="332" ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#"><input type="image" name="genre[]" value="11" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/court_metrage.png" alt="Affiche Rush" width="241" height="332" ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="12" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/dessin_animé.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="13" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/documentaire.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="14" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/drame.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="15" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/drama_psy.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="16" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/epouvante.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="17" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/fantastique.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="18" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/musical.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="19" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/guerre.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="20" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/historique.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="21" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/horreur.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="22" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/policier.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="23" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/politique.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>

          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="24" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/romnance.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>

          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="25" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/sc_fiction.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>

          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="26" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/serial.png" alt="Affiche Instinct de Survie" width="241" height="332"
                 ></a></p>
          </div>

          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="27" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/spctacle.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="28" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/telefilm.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="29" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/thriller.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="30" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/western.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>

          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="31" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/theatre.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3 text-center formulairedisplay">
            <p><a href="#reponseimage"><input type="image" name="genre[]" value="32" class="inpt-form-img film_cover shadow rounded img-fluid zoom"
                  src="./views/media/sport.png" alt="Affiche Instinct de Survie" width="241" height="332"
                  ></a></p>
          </div>

        </div>
      </div>
    </div>
  </form>
  <div id="reponse" class="text-white text-center"></div>
        </div>
    </div>
</div>

<!-- footer -->

<footer>
    <div class="container-fluid bg-footer mt-0 p-3">
      <div class="row m-auto">
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mt-4 text-center">
          <p><img src="./views/media/popcorn.png" width="28" height="30" alt="logo"></p>
        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 mt-3 text-center">
          <span class="h6 font-weight-bold "> SERVICE PROPOSÉ PAR</span></br>
        <p class="h6 text-white text- m-auto font-weight-normal">Quentin Petrequin-Florent Bonneau-Chahrazed Durand-Rayan Sadki</p>
        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-align-end mt-4 text-center">
          <a href="https://github.com/Gragor58/file_explorer" target="_blank">
            <img class="bg-red" src="./views/media/github.png"></a>
            <a href="#" target="_blank">
              <img class="bg-red" src="./views/media/twitter.png"></a>
              <a href="#" target="_blank"></a>
        </div>
      </div>
    </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script>

            inptGenreImg = document.querySelectorAll(".inpt-form-img ");
            inptGenreImg.forEach(function (repouet) {
      repouet.addEventListener('click', function (e) {
        e.preventDefault()
        //interrompre l'évenement par défaut

        datas = new FormData();
        datas.append(repouet.name, repouet.value);

        fetch('../model/reqgenre.php', {
          method: 'POST',
          body: datas
        }).then(function (thResponseimage) {
          return thResponseimage.text();
        }).then(function (resultimage) {
          myDiv = document.querySelector('#reponse');
          myDiv.innerHTML = resultimage

        })

      })
    });
            
            

    </script>
</body>

</html>