<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="La référence du 7ème Art">
  <meta name="robots" content="all">
  <meta name="keywords"
    content="PopCorn, film, movie, critique, affiche, réalisateur, cinéma, oscar, golden globes, acteurs, actrices, salle, pellicule, recherche, annuaire, action, thriller, comedie, drame, horreur, spectacle">
  <!-- Facebook -->
  <meta property="og:locale" content="fr_FR">
  <meta property="og:url" content="#">
  <meta property="og:type" content="website">
  <meta property="og:title" content="PopCorn : Votre annuaire de film">
  <meta property="og:description" content="La référence du 7ème Art">
  <meta property="og:site_name" content="Bakery">
  <meta property="og:image"
    content="http://rayans.promo-vesoul33.codeur.online/annuaire-films/views/media/thumbnail.jpg">
  <meta property="og:image:width" content="380">
  <meta property="og:image:height" content="380">
  <meta property="og:image:alt" content="facebook_partage">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="PopCorn : Votre annuaire de film">
  <meta name="twitter:description" content="La référence du 7ème Art">
  <meta name="twitter:site" content="https://twitter.com/PopCornMovie">
  <meta name="twitter:image"
    content="http://rayans.promo-vesoul33.codeur.online/annuaire-films/views/medias/thumbnail.jpg">
  <meta name="twitter:creator" content="PopCorn">

  <!-- Bootstrap CSS - MyCSS - Favicons -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="icon" type="image/png" sizes="32x32" href="media/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/favicon-16x16.png">
  <link rel="stylesheet" href="style.css">
  <title>PopCorn</title>
  <favicon></favicon>
</head>

<body class="bg-deepdive">
  <!-- HEADER -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand m-0 text-white htext h2 font-weight-bold" href="#"><span class="text-red">P</span>op<span
          class="text-red">C</span>orn<img src="media/popcorn.png" width="26" height="28" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="#"><span
              class="text-red">G</span>enre</a>
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="#"><span
              class="text-red">R</span>éalisateur</a>
          <a class="nav-item nav-link text-white font-weight-bold text-right" href="#"><span
              class="text-red">D</span>ate de sortie</a>
        </div>
      </div>
    </nav>
  </header>
  <!-- SEARCH BAR -->
  <div class="container-fluid">
    <div class="container pt-5 h-100">
      <div class="d-flex justify-content-center pt-5 mt-5 h-100">
        <form action="" id="form">
          <div class="searchbar">

            <input class="search_input" type="search" name="search" id="search" name="" placeholder="Rechercher...">

            <a href="#" class="search_icon text-decoration-none"><i class="fas fa-search"></i></a>

          </div>
        </form>
        
      </div>
    </div>
  </div><div id="reponse"></div>
  <!-- FILM LIST -->
  <div class="container-fluid pt-5 pb-5 text-center bg-bladerunner">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 border-red">
          <h2 class="text-white font-weight-bold text-uppercase mb-3">Recommandations</h2>
        </div>
      </div>
      <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/ChickenRun.jpg"
                alt="Affiche Chicken Run" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/Whiplash.jpg"
                alt="Affiche Whiplash" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/Drive.jpg" alt="Affiche Drive"
                width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/SuicideSquad.jpg"
                alt="Affiche Suicide Squad" width="241" height="332"></a></p>
        </div>
      </div>
      <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/BCLC.jpg"
                alt="Affiche Bienvenue Chez Les Chtis" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/Parasite.jpg"
                alt="Affiche Parasite" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/LeMans66.jpg"
                alt="Affiche Le Mans 66" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/Diversion.jpg"
                alt="Affiche Diversion" width="241" height="332"></a></p>
        </div>
      </div>
      <div class="row mt-4 pb-5 d-flex justify-content-center">
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/ShaolinSoccer.jpg"
                alt="Affiche Shaolin Soccer" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/GetOut.jpg"
                alt="Affiche Get Out" width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/Rush.jpg" alt="Affiche Rush"
                width="241" height="332"></a></p>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-2 text-center">
          <p><a href="#"><img class="film_cover shadow rounded img-fluid zoom" src="media/InstinctDeSurvie.jpg"
                alt="Affiche Instinct de Survie" width="241" height="332"></a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer>
    <div class="container-fluid bg-footer mt-0 p-3">
      <div class="row m-auto">
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 mt-4 text-center">
          <p><img src="media/popcorn.png" width="28" height="30" alt="logo"></p>
        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-5 col-xl-5 mt-3 text-center">
          <span class="h6 text-red font-weight-bold"> SERVICE PROPOSÉ PAR</span></br>
          <p class="h6 text-white text- m-auto font-weight-normal text-center">Quentin Petrequin - Florent Bonneau -
            Chahrazed Durand - Rayan Sadki</p>
        </div>
        <div class=" col-12 col-sm-12 col-md-4 col-lg-3 col-xl-4 text-align-end mt-4 text-center">
          <a href="https://github.com/Spriinty/filmbiblio" target="_blank">
            <img class="bg-red" src="media/github.png"></a>
          <a href="#" target="_blank">
            <img class="bg-red" src="media/twitter.png"></a>
          <a href="#" target="_blank"></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
     // on selectionne le formulaire
     const myForm = document.querySelector('#form');
    console.log(myForm);
    

// on affecte une ecoute d'évenement submit
myForm.addEventListener('keyup', function (e) {

  //interrompre l'évenement par défaut
  e.preventDefault();

  //on selectionne la case de formulaire
    nameInpt = document.querySelector('#search');
    
  datas = new FormData(myForm);
  
  datas.append('search', document.querySelector('#search').value);

  fetch('../model/movies.php', {
    method: 'POST',
    body: datas
  }).then(function (theResponse) {
    return theResponse.text();
  }).then(function (result) {
    myDiv = document.querySelector('#reponse');
    myDiv.innerHTML = result
  })
})
    </script>
</body>

</html>